{% load compress %}{% load i18n %}<!DOCTYPE html>
<html>
  <head>
    <title>{%block title%}{%endblock%} | {% trans "Home Automation" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% compress css %}
    <link href="/static/jquery-ui-1.10.2/css/ui-lightness/jquery-ui-1.10.2.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
   <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/haweb.css" rel="stylesheet">
    <!--[if IE 6]>
      <link href="/static/css/ie6.min.css" rel="stylesheet">
    <![endif]-->
    {%block head_css%}{%endblock%}
    {%endcompress%}
  </head>
  <body>
    {%block content%}{%endblock%}
    {%compress js%}
    <script src="/static/js/sockjs-0.3.4.min.js"></script>
    <script src="/static/js/jsfsm-0.6.0.js"></script>
    <script src="/static/js/cliente.js"></script>
    <script src="/static/jquery-ui-1.10.2/js/jquery-1.9.1.js"></script>
    <script src="/static/jquery-ui-1.10.2/js/jquery-ui-1.10.2.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <!--[if IE 6]>
    <script src="/static/js/ie6.min.js"></script>
    <![endif]-->
    {%block load_script%}{%endblock%}
    <script src="/static/js/utils.js"></script>
     {%endcompress%}
    <script>
      {%block script%}{%endblock%}
      $(document).ready(function() {
          {%block document_ready%}{%endblock%}


    SMachine.set_machine_trace(false);  // global trace
    console.log("STARTING cliente GAPLIC");
    gaplic = new GAplic('', 'hautomation');
    gaplic.send_event(
        gaplic.router,
        'EV_ADD_STATIC_ROUTE',
        {
            name: '',
            roles: ['hautomation'],
            urls: [
                'ws://localhost:8002',
                ],
        }
    );


        // Wait to dom is loaded.
        var cliente_options = {
        };
        cliente = gaplic.create_gobj(
            '',
            Cliente,
            gaplic,
            cliente_options
        );
        cliente.set_machine_trace(true);



         validation();
         $("[title!=undefined]").tooltip({"animation": "true"})
      });

    $(function(){if($.browser.msie&&parseInt($.browser.version,10)===6){$('.row div[class^="span"]:last-child').addClass("last-child");$('[class*="span"]').addClass("margin-left-20");$(':button[class="btn"], :reset[class="btn"], :submit[class="btn"], input[type="button"]').addClass("button-reset");$(":checkbox").addClass("input-checkbox");$('[class^="icon-"], [class*=" icon-"]').addClass("icon-sprite");$(".pagination li:first-child a").addClass("pagination-first-child")}})
</script>

  </body>
</html>
