{%extends 'base.html'%}
{%load i18n%}{%load controls%}
{%block title%}{%trans screen.title%}{%endblock%}
{%block head_css%}{%endblock%}
{%block content%}
<center>
<div class="row-fluid">
    <div class="span4 offset4"><h2>{%trans screen.title%}</h2></div>
    <div class="span4" id="menu"></div>
    <div class="span10 offset2">
        <div class="row-fluid">
            <div class="span12"></div>
            {%for control in screen.controls%}
            <div class="span4 hacontrol">
                <div class="row-fluid">
                    <div class="span12">{%trans control.caption%}</div>
                    <div class="span12">{%control control%}</div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
</center>
{%endblock%}
{%block load_script%}{%endblock%}
{%block script%}
{%include 'ha_cmds.js'%}
{%endblock%}
{%block document_ready%}{%endblock%}
